body {
   
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: large;
    }
P{
    font-size: medium;
    font-weight: normal;
    text-align: center;
    color: antiquewhite;
}

label {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle; 
  }​

h3{
    text-align: center;   
    color: antiquewhite;
}

.container{
    background: linear-gradient(#022411, rgb(21, 95, 25)); 
}





