body {
   
    background: linear-gradient(#022411, rgb(21, 95, 25)); 
    color: black;
    font-size: large;
    }
P{
    font-size: medium;
    font-weight: normal;
    text-align: center;
    color: antiquewhite;
}


h3{
    text-align: center;   
    color: antiquewhite;
}

header {
    
 
}



