
P{
    font-size: large;
    font-weight: normal;
    text-align: left;
    color: black;
}

label {
    min-height: 10em;
    display: block;
    float: left;
    
  }​

h3{
    text-align: center;   
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
   
}

  .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline:white;
  background-size: 100%, 100%;
  
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}

body{
  background-color: rgb(238, 238, 192);
}

.container{
    background-color: rgb(238, 238, 192);
  }


